body{
}
p{
	margin: 0;
	padding: 0;
}
.header {
 background-color: #061e37;
background-image: linear-gradient(-53.0deg, #00b8d4 -11%, #1de9b6 111%);
padding: 50px 80px 0 80px;
height: 700px;
opacity: 0.9;


	
}
.navigation {
	margin-bottom: 170px;
display: flex;
justify-content: space-between;
padding: 10px;
	
}
.navigation__name {
	display: flex;
	
}
.navigation-logo {
	
}
.navigation-text {
font-family: 'Raleway', sans-serif;
font-size: 15px;
line-height: 15px;
font-weight: 400;
text-transform: uppercase;
color: #ffffff;
font-weight: 800;
padding-left: 12px;
}
.dart {
margin: 0;
font-weight: 400;
	
}
.sm {
margin: 0;
	
}
.navigation__menu > ul{
display: flex;
width: 700px;
justify-content: space-between;
list-style-type: none;
}
.navigation__sign-up {
width: 80px;
height: 25px;
border: 1px solid #ffffff;
border-radius: 2px;
}
.navigation__menu{
font-family: 'Raleway', sans-serif;
font-size: 15px;
font-weight: 600;
color: #ffffff;
text-align: center;
}
ul > li:nth-child(2){
	color: #061e37;

}
.sign-up {
display: block;
text-align: center;
font-family: 'Raleway', sans-serif;
font-size: 12px;
line-height: 25px;
font-weight: 400;
color: #ffffff;
text-decoration: none;


}
.main-content {
	display: flex;
	align-items: flex-start;
	
	border: 2px black solid;
	justify-content: space-between;
	
}
.main-content__left {

}
.main-content__left-text {
		
}
.lorem {
font-family: 'Raleway';
font-size: 55px;
line-height: 65px;
font-weight: 700;
text-transform: uppercase;
color: #ffffff;
width: 470px;
}
.lorem2 {
	font-family: Raleway;
font-size: 18px;
line-height: 35px;
font-weight: 400;
color: #ffffff;
width: 580px;
}
.main-content__left-buttons {
margin-top: 38px;
display: flex;
width: 340px;
justify-content: space-between;
}

.first {
display: flex;
align-items: center;
justify-content: center;
font-family: Raleway;
width: 150px;
height: 55px;
background-color: #061e37;
box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.15);
border-radius: 5px;
text-decoration: none;

}
.left-buttons__text1{
	
font-family: Roboto;
font-size: 15px;
line-height: 1.2;
font-weight: 400;
text-transform: uppercase;
color: #ffffff;

}
.left-buttons__text2{
text-align: center;
font-family: Raleway;
font-size: 15px;
line-height: 1.2;
font-weight: 700;
text-transform: uppercase;
color: #061e37;
}
.second {
display: flex;
align-items: center;
justify-content: center;
text-decoration: none;

width: 160px;
height: 55px;
background-color: #ffffff;
box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.15);
border-radius: 5px;
}
.main-content__right {
	opacity: 0.5;
	
}
.backgr {
z-index: 0;
background-image: url(img\rounded_rectangle_2_copy_29.png);
width: 600px;
height: 320px;
border: 1px solid #061e37;
border-radius: 5px;
}